[model]
model = unet        # Model: unet, dilated-unet
features = 32       # Number of features maps after first convolutional layer
depth = 3	        # Number of downsampled convolutional blocks
temperature = 1.0   # Temperature of final softmax layer in model
padding = same	    # Padding in convolutional layers. Either `same' or `valid'
batchnorm = False   # Whether to apply batch normalization before activation layers
dropout = 0.0       # Rate for dropout of activation units (set to zero to omit)
classes = inner     # One of `inner', `outer', or `both' for endocardium, epicardium, or both

[loss]
loss = pixel            # Loss function: `pixel' for pixel-wise cross entropy,
                        # `sorensen-dice' for sorensen-dice coefficient,
                        # 'dice' for standard dice
                        # `jaccard' for intersection over union
loss_weights = 0.5 0.5      # When using dice or jaccard loss, how much to weight each output class

[training]
epochs = 100		        # Number of epochs to train
batch_size = 16             # Mini-batch size for training
optimizer = sgd             # Optimizer: sgd, rmsprop, adagrad, adadelta, adam, adamax, or nadam
learning_rate = 0.01        # Optimizer learning rate
momentum = 0.9              # Momentum for SGD optimizer
decay = 1e-6                # Learning rate decay (for all optimizers except nadam)
shuffle = False             # shuffle image data generator inputs

[files]
load_weights =                  # Name of file to load previously-saved model weights
datadir = ./data/Images         # Directory containing list of patientXX/ subdirectories
outdir = ./weights              # Where to write weight files
outfile = weights_cv1_final.hdf5  # File to write final model weights
checkpoint = False              # Whether to output model weight checkpoint files

[augmentation]
augment_training = False    # Whether to apply image augmentation to training set
augment_validation = False  # Whether to apply image augmentation to validation set
rotation_range = 10	        # Rotation range (0-180 degrees)
width_shift_range = 0.1	    # Width shift range, as a float fraction of the width
height_shift_range = 0.1    # Height shift range, as a float fraction of the height
shear_range = 0.1           # Shear intensity (in radians)
zoom_range = 0.05           # Amount of zoom. If a scalar z, zoom in [1-z, 1+z].
                            # Can also pass a pair of floats as the zoom range.
fill_mode = nearest         # Points outside boundaries are filled according to 
                            # mode: constant, nearest, reflect, or wrap)
normalize = True            # normalize images before train